@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Inknut+Antiqua&family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
      animation-delay: 2s;
    }
    .animation-delay-4000 {
      animation-delay: 4s;
    }
    .animate-todo {
        background: linear-gradient(#ffafbd, #ffc3a0) left no-repeat,
        white;
    }
}
  
/* #ffafbd, #ffc3a0 ok */
/* #ddd6f3,#faaca8 */
/* #eecda3,#ef629f */